body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    animation-name:plim2 ;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.31,.61,.81,.27);
    animation-iteration-count: infinite;
    }

    @keyframes plim2 {

        0%{background-color: rgb(2, 29, 59);}
       
        50%{background-color: rgb(0, 0, 0);}    
       
        100%{background-color: rgb(1, 24, 24);}

    }
    
    
    .titulo {
    
    width: 250px;
    height: 50px;
    background-color: rgb(4, 50, 58);
    justify-self: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: gray;
    
    animation-name: plim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.31,.61,.81,.27);
    
    }

.titulo::selection {

color: black;




}

    @keyframes plim {

        0%{transform:scale(100%); border-color: cyan;background-color: cyan;}
        12.5%{border-color: yellow;}
        25%{border-color: pink;}
        37.5%{border-color: crimson;}
        50%{transform:scale(105%);border-color: rgb(4, 255, 109);}    
        62.5%{border-color: cyan;}
        75%{border-color: yellow;}
        87.5%{border-color: pink;}
        100%{transform: scale(100%);border-color: crimson; background-color: rgb(4, 50, 58);}

    }

    .juntin{

        width: 400px;
        height: 50px;
        text-align: center;
        justify-self: center;
        align-content: center;
        margin: 0;
   


    }

    .inserir {
        
       color: rgb(245, 144, 11);
       text-shadow: 1px 2.25px rgb(206, 120, 9),0px 0px 8px rgb(233, 191, 137);
       background-color: rgb(18, 214, 182); 
       border-style: solid;
       border-color: rgb(18, 214, 182);
       border-radius: 10px;

       text-align: center;
        width:200px;
        height:25px;
        font-size: 30px;

    }

    input::placeholder {

        font-size: 20px;
        text-shadow: 0 0;
        opacity: 0.5;
    }

    input[type=number]::-webkit-inner-spin-button {
 -webkit-appearance: none;
/* Vi isso daqui no google*/
    }

    .butao {
        
        width:50px;
        height:30px;
        translate: 0px -5px;
        border-radius:50px;
        background-color: rgb(18, 214, 182);
        color:gray;
        border-width: 0.1px;
        text-shadow: 1px 1px rgb(107, 102, 102);
        transition-duration: 0.5s;
    
    }

    .butao:hover {
        transform: scale(105%);
 
    }

    .butao:active{
        background-color: rgb(25, 64, 70);
        transition: 0s;

    }

    .botaraquidentro {

    width:300px;
    height:90px;
    background-color: rgb(133, 168, 3);
    justify-self: center;
    border-radius: 20px;
    text-align: center;
    


    }
